<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
        class="bullico"
        width="80"
        alt="Bull Stocks"
        src="assets/img/favicon.ico"
    />
    <img
        class="bulltext"
        width="200"
        alt="Bull Stocks"
        src="assets/img/bullstocks-text-cream.png"
    />
    <div class="spacer"></div>
    <nav class="navbar">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <!-- <a routerLink="/reports/week/1">Reports</a>
        <a routerLink="/chat">Chat</a> -->
        <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
        <a *ngIf="!isLoggedIn" routerLink="/login">Log in</a>
        <a *ngIf="isLoggedIn" routerLink="/logout">Log out</a>
        <!-- <a routerLink="/">Register</a>
        <a routerLink="/">Log in</a>
        <a routerLink="/">Log out</a> -->
    </nav>
</div>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>
