h2 {
  text-transform: uppercase;
}

.question {
  margin-bottom: 2em;
}

.graphs div {
    margin-bottom: 2em;
}

@media (max-width: 78em) {
    .main {
        width: 96%;
        margin: 2em 2% 0;
        padding: 1em;
    }
}
